
body{
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    /* font-family: 'Roboto', sans-serif; */
    /* overflow-x: hidden; */
    background-color: black;
}

.frontPageImg{
    /* max-width: 100vw; */
    max-height: 100vh;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blackBox{
    background-image: linear-gradient(to top, #ffffff00, #00000096, #000000b9, #000000, #000000);
    background-size: cover;
    position: absolute;
    opacity: 0.85;
    width: 100%;
    height: 100%;
}
.pageTitleDiv {
    /* background-color: #262B30; */
    /* color: white; */
    position: relative;
    max-width: 100vw;
    max-height: 20vh;
}
.pageTitleHeader{
    color: #FCFCFC;
    margin: 0;
    padding: 2rem;
    text-align: left;
    position: absolute;
    top: 5rem;
}
@media screen and (min-width: 1400px) {
    .pageTitleHeaderDiv, .pageBodyDiv, .pageContents{
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
    .col-md-6.pl-4.filterContent{
        margin-left: 2rem;
    }
}
@media screen and (min-width: 1300px) {
    .instructionsPara{
        max-width: 940px;
    }
    .col-md-6.graphDisplay{
        max-width: 650px;
        max-width: 650px;
    }
    .col-md-6.pl-4.filterContent{
        max-width: 650px;
        max-width: 650px;
    }
}
@media screen and (min-width: 1010px) {
    .instructionsPara{
        max-width: 940px;
    }
}
@media screen and (min-width: 770px) and (max-width:1000px) {
    #startStopText{
        margin-left: 2rem;
    }
}
@media screen and (max-width: 880px) {
    .pageTitleDiv{
        max-height: 25vh;
    }
}
@media screen and (max-width: 770px) {
    .row #container{
        width: 90vw;
        height: 40vh;
        margin-bottom: 2rem;
    }
    .filterContent{
        width: 90vw;
        height: 40vh;
        margin-bottom: 2rem;
    }
    .dataExports{
        margin-top: 35vh;
    }
    .fileUploadWidth{
        width: 55vw;
    }
}
@media screen and (max-width:670px){
    .documentationButton{
        display: inline-block;
        margin-top: 1rem;
    }
}
@media screen and (max-width:600px){
    .startStopRow{
        flex-direction: column;
    }
    .dataExports{
        margin-top: 40vh;
    }
}
@media screen and (max-width: 470px) {
    .pageTitleDiv{
        min-height: 30vh;
        overflow: hidden;
    }
    .frontPageImg{
        width: auto;
    }
    .row #container{
        width: 80vw;
        height: 35vh;
        margin-bottom: 2rem;
    }
    .filterContent{
        width: 80vw;
        height: 35vh;
        margin-bottom: 2rem;
    }
    .dataExports{
        margin-top: 50vh;
    }
}
@media screen and (max-width: 400px) {
    body{
        position: relative;
    }
    .pageTitleHeader{
        color: #FCFCFC;
        margin: 0;
        padding: 2rem;
        text-align: left;
        position: absolute;
        top: 1rem;
    }
    .input-group.mb-3{
        min-width: 100%;
    }
    
}
@media screen and (max-width: 280px) {
    .pageTitleDiv{
        min-height: 35vh;
    }
}
.whiteFill{
    background-color: white;
    position: relative;
}
.pageBodyDiv{
    position: relative;
    background-color: white;
    padding: 2rem;
    z-index: 1;
    min-height: 80vh;
}
.pageContents{
    position: relative;
    background-color: white;
    padding: 1rem 0;
    min-height: 80vh;
}
.reuploadButton{
    position: absolute;
    top: 7rem;
    z-index: 2;
}
.pageBodyTitle{
    margin: 1rem 0 1.5rem 0;
}
.table{
    table-layout: auto;
    width: 100%;
    overflow-x: auto;
    display: block;
    white-space: nowrap;
}
.input-group.mb-3{
    width: 27vw;
}
.sampleGraphTitle{
    padding-left: 2rem;
}
#container{
    /* margin: 2rem ; */
    text-align: center;
    border-style: solid;
    width: 50vw;
    height: 50vh;
}
.analyticsHeader{
    padding: 1rem 2rem;
    background-color: #e0e1e2;
}
.pageBodyAnalytics{
    padding: 2rem;
    background-color: #F8F9FA;
}
.analyticsTitle{
    display: inline;
}
.analyticsForm{
    display: inline;
}
.analyticsButton.btn.btn-secondary{
    display: inline;
    margin: 1rem 2rem;
}
.iconSize{
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
    padding-bottom: 0.25rem;
}
.buttonCaption{
    display: table-cell;
    word-wrap: break-word;
    white-space: normal;
    /* max-width: 90px; */

}
.btn.centrality{
    margin-bottom: 1rem;
}
.hideContent{
    display: none;
}
.analyticsTitle.topNStyle{
    display: inline-block;
}
.hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.buttonPositioning{
    margin-top: auto;
    margin-bottom: auto;
}
#startStopText{
    margin-top: 1rem;
}
.buttonPressed {
    background-color: lightgray;
}
.inlineButtonStyling{
    display: inline-block;
    margin-right: 3rem;
}
.documentationButton{
    display: inline-block;
}